.select2-container .select2-search--inline .select2-search__field {
    vertical-align: sub;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--caramelo-brilho);
    color: black;
}

.select2-selection.select2-selection--single {
    border-radius: var(--bs-border-radius);
    padding: .375rem .75rem;
    height: 38px;
  }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
    padding: 0px;
}

.left-side-container {
    border-right: 1px solid rgba(255, 255, 255, .25);
}

.form-control:focus, .form-select:focus {
    border-color: var(--caramelo-brilho);
    box-shadow: 0px 0px 5px .25rem var(--caramelo-brilho);
}

#link-criador {
    background-color: rgba(79, 92, 122, 0.3);
    color: var(--caramelo-brilho);
    border-radius: var(--bs-border-radius);
    transition: 0.5s;
}

#link-criador:hover {
    background-color: rgba(79, 92, 122, 0.5);
    color: var(--caramelo-brilho-hover);
    border-radius: 0px;
}

#link-criador .destaque {
    background-color: var(--caramelo-brilho);
    color: var(--cinza-noturno);
    border-bottom-right-radius: 0.50rem;
    transition: 0.5s;
}

#link-criador:hover .destaque {
    background-color: var(--caramelo-brilho-hover);
}

#preview-flag {
    height: 1.75rem;
    width: 2.5rem;
    border-bottom-left-radius: 0.50rem;
    object-fit: cover;
    object-position: center;
}

#colecao-rotativa {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#colecao-rotativa.fade-out {
    opacity: 0;
}

.btn-caramelo {
    background-color: var(--caramelo-brilho);
}

.btn-caramelo:hover {
    background-color: var(--caramelo-brilho-hover);
    color: var(--preto-suave);
}

.btn-caramelo:active {
    background-color: var(--caramelo-brilho-hover) !important;
    color: var(--preto-suave) !important;
}

.text-caramelo {
    color: var(--caramelo-brilho);
}

.modal-content {
    background-color: var(--cinza-noturno);
}

.popover-erro {
    --bs-popover-border-color: var(--caramelo-brilho);
    --bs-popover-header-bg: var(--caramelo-brilho);
    --bs-popover-bg: var(--branco-suave);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.is-invalido {
    border: 2px solid var(--caramelo-brilho);
    box-shadow: 0px 0px 5px 2px var(--caramelo-brilho);
}