#link-autor {
    background-color: rgba(79, 92, 122, 0.3);
    color: var(--caramelo-brilho);
    border-radius: var(--bs-border-radius);
    transition: 0.5s;
}

#link-autor:hover {
    background-color: rgba(79, 92, 122, 0.5);
    color: var(--caramelo-brilho-hover);
    border-radius: 0px;
}

#link-autor .destaque {
    background-color: var(--caramelo-brilho);
    color: var(--cinza-noturno);
    border-bottom-right-radius: 0.50rem;
    transition: 0.5s;
}

#link-autor:hover .destaque {
    background-color: var(--caramelo-brilho-hover);
}

#preview-flag {
    height: 1.25rem;
    width: 1.875rem;
}

.colecao-rotativa {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.colecao-rotativa.fade-out {
    opacity: 0;
}