:root {
    --azul-escuro: #213555;
    --background-escuro: #1A1E2E;
    --preto-suave: #212529;
    --cinza-noturno: #2D3250;
    --cinza-fumacinha: #4F5C7A;
    --branco-suave: #EDEDED;
    --cinza-claro: #C5C5C5;
    --fuyu-rosa: #D7C0FF;
    --caramelo-brilho: #E6B17E;
    --caramelo-brilho-hover: #c28f63;
}