body {
    background-color: var(--cinza-noturno);
}

div.input-group-text {
    padding: 0;
}

.input-group-text {
    border: none;
}

.card {
    border: none;
}

#div-preview {
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--caramelo-brilho);
    border: 1px solid var(--cinza-fumacinha);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid var(--cinza-fumacinha);
    color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: black;
}

.select2-container--default .select2-selection--multiple {
    padding: 5px;
}

.select2-container .select2-search--inline .select2-search__field {
    vertical-align: sub;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--caramelo-brilho);
    color: black;
}

textarea {
    line-height: normal;
}

.popover-erro {
    --bs-popover-border-color: var(--caramelo-brilho);
    --bs-popover-header-bg: var(--caramelo-brilho);
    --bs-popover-bg: var(--branco-suave);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.is-invalido {
    border: 2px solid var(--caramelo-brilho);
    box-shadow: 0px 0px 5px 2px var(--caramelo-brilho);
}

.modal-content {
    background-color: var(--background-escuro);
}

.btn-caramelo {
    background-color: var(--caramelo-brilho);
}

.btn-caramelo:hover {
    background-color: var(--caramelo-brilho-hover);
    color: var(--preto-suave);
}

.btn-caramelo:active {
    background-color: var(--caramelo-brilho-hover) !important;
    color: var(--preto-suave) !important;
}

.text-caramelo {
    color: var(--caramelo-brilho);
}

.form-control:focus {
    border-color: var(--caramelo-brilho);
    box-shadow: 0px 0px 5px .25rem var(--caramelo-brilho);
}