.descricao-limitada {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoria-truncada {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}